{% extends "base.html" %}
{% block page_content %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
}

hr {
  border-top: 1px solid white;
}

p    {color: white;}
}



    </style>
</head>
<body>
<div class="col-md-8 offset-md-2">
    <h1 style="color:#FF9F55">{{ post.title }}</h1>
    <hr>
    <small style="color:#FFFFFF">
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a style="color:#FFFFFF" href="{% url 'opportunities_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p style="color:#FFFFFF">{{ post.body | linebreaks }}</p>
    <hr>
<!--    <h3 style="color:#FFFFFF">Leave a comment:</h3>-->
<!--    <form action="/blog/{{ post.pk }}/" method="post">-->
<!--        {% csrf_token %}-->
<!--        <div class="form-group">-->
<!--            {{ form.author }}-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            {{ form.body }}-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--    </form>-->
<!--    <h3 style="color:#FFFFFF">Comments:</h3>-->
<!--    {% for comment in comments %}-->
<!--    <p>-->
<!--        On {{comment.created_on.date }}&nbsp;-->
<!--        <b>{{ comment.author }}</b> wrote:-->
<!--    </p>-->
<!--    <p>{{ comment.body }}</p>-->
<!--    <hr>-->
    {% endfor %}
</div>
</body>
<p class="text-muted mt-5 mb-5 text-center small">by: Regis Nisengwe </p>
</html>
{% endblock %}